plugged/*
# !plugged/vimspector/
# plugged/vimspector/*
# !plugged/vimspector/configurations/
# plugged/vimspector/configurations/linux/*
# !plugged/vimspector/configurations/linux/python/
# !plugged/vimspector/configurations/linux/python/vimspector.python.json

